$padding: 1rem;

@mixin tab-active() {
  background: $info-color;
  color: $white;
}

.ootb-tabcordion {
  background: $white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  margin: $padding auto $padding * 4 auto;
  border-radius: 3px;
  &.has-tabs {
    .ootb-tabcordion--tabs {
      opacity: 1;
      height: auto;
      visibility: visible;
    }

    .ootb-tabcordion--entry {
      min-height: 0;

      &::before {
        display: none;
      }

      &.is-active {
        .ootb-tabcordion--entry-content {
          opacity: 1;
          transition: opacity 400ms ease-in-out;
        }
      }
      .ootb-tabcordion--entry-content {
        opacity: 0;
        transition: opacity 400ms ease-in-out;
      }
    }
  }
}

.ootb-tabcordion--tabs {
  opacity: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
  .tab {
    display: block;
    background: $dark-color;
    color: #fff;
    font-size: $fs-16;
    font-weight: $fw-300;
    font-family: $body-font-family;
    margin: 0 0 1px 0;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    &:hover,
    &:focus {
      background: $info-color;
      outline: none;
    }

    &.is-active {
      background: $info-color;
      &:hover,
      &:focus {
        background: $info-color;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.ootb-tabcordion--entry {
  overflow: hidden;

  &::before {
    position: relative;
    content: attr(data-title);
    cursor: pointer;
    z-index: 1;
    background: $white;
    color: $black;
    padding: 1.2rem 1rem;
    display: block;
    border-radius: 6px;
    margin: 8px;
    border: 1px solid $info-color;
  }

  // &:hover,
  // &:focus {
  //   outline: none;
  //   &::before {
  //     background: $secondary-color;
  //   }
  // }

  &.is-active {
    .ootb-tabcordion--entry-content {
      margin-top: 0;
      height: auto;
      opacity: 1;
      transition: margin 400ms ease-out -100ms;
    }

    &::before {
      background: $info-color;
      color: $white;
    }
    &:hover,
    &:focus {
      &::before {
        background: $info-color;
        color: $white;
      }
    }
  }
}

.ootb-tabcordion--entry-container {
  overflow: hidden;
  margin-bottom: 1px;
}

.ootb-tabcordion--entry-content {
  position: relative;
  margin-top: -100%;
  height: 0;
  opacity: 0;
  transition: margin 500ms ease-in;
  padding: $padding;
  a.more {
    color: $dark-color;
    &:hover {
      color: $info-color;
    }
  }
}
