.panels {
	position: fixed;
	top: 0;
	left: 50%;
	width: 180vw;
	height: 100%;
	transform: translateX(-50%) skewX(-35deg);
	clip-path: circle(100%);
	z-index: 10000;
	background: $white-100;
	.panel {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: calc(100% / 6);
		transform: scaleY(0);
		transform-origin: top;
		background: $secondary-color;
		&:nth-child(even) {
			transform-origin: bottom;
		}
		&:nth-child(2) {
			left: calc(calc(100% / 6) - 1px);
		}
		&:nth-child(3) {
			left: calc(calc(calc(100% / 6) * 2) - 2px);
		}
		&:nth-child(4) {
			left: calc(calc(calc(100% / 6) * 3) - 4px);
		}
		&:nth-child(5) {
			left: calc(calc(calc(100% / 6) * 4) - 5px);
		}
		&:nth-child(6) {
			left: calc(calc(calc(100% / 6) * 5) - 6px);
		}
	}
}