---
import art from "../../images/art.jpg";
---

<div class="accordion">
  <input
    class="accordion__radio"
    type="radio"
    name="accordion-tabs"
    id="tab-one"
    checked
  />
  <label class="accordion__label" for="tab-one"
    >Tab 1
    <span class="accordion-tab--status"></span>
  </label>
  <div class="accordion__content">
    <div class="accordion__content__image__container">
      <img
        class="accordion__content__image"
        src={art}
        alt="placeholder alt text"
      />
    </div>
    <div class="accordion__content__text">
      <h3 class="accordion__content__text__title">
        Content One
        <hr class="accordion__content__text__horizontal-line" />
      </h3>
      <p class="accordion__content__text__body">
        To be successful you’ve got to work hard, to make history, simple,
        you’ve got to make it. Give thanks to the most high. To be successful
        you’ve got to work hard, to make history, simple, you’ve got to make it.
      </p>
      <p class="accordion__content__text__body">
        The key to more success is to get a massage once a week, very important,
        major key, cloth talk. How’s business? Boomin. Hammock talk come soon.
        To be successful you’ve got to work hard, to make history, simple,
        you’ve got to make it. Hammock talk come soon.
      </p>
    </div>
  </div>
  <input
    class="accordion__radio"
    type="radio"
    name="accordion-tabs"
    id="tab-two"
  />
  <label class="accordion__label" for="tab-two"
    >Tab 2
    <span class="accordion-tab--status"></span>
  </label>
  <div class="accordion__content">
    <div class="accordion__content__image__container">
      <img
        class="accordion__content__image"
        src={art}
        alt="placeholder alt text"
      />
    </div>
    <div class="accordion__content__text">
      <h3 class="accordion__content__text__title">
        Content Two
        <hr class="accordion__content__text__horizontal-line" />
      </h3>
      <p class="accordion__content__text__body">
        To be successful you’ve got to work hard, to make history, simple,
        you’ve got to make it. Give thanks to the most high. To be successful
        you’ve got to work hard, to make history, simple, you’ve got to make it.
      </p>
      <p class="accordion__content__text__body">
        The key to more success is to get a massage once a week, very important,
        major key, cloth talk. How’s business? Boomin. Hammock talk come soon.
        To be successful you’ve got to work hard, to make history, simple,
        you’ve got to make it. Hammock talk come soon.
      </p>
    </div>
  </div>
  <input
    class="accordion__radio"
    type="radio"
    name="accordion-tabs"
    id="tab-three"
  />
  <label class="accordion__label" for="tab-three"
    >Tab 3
    <span class="accordion-tab--status"></span>
  </label>
  <div class="accordion__content">
    <div class="accordion__content__image__container">
      <img
        class="accordion__content__image"
        src={art}
        alt="placeholder alt text"
      />
    </div>
    <div class="accordion__content__text">
      <h3 class="accordion__content__text__title">
        Content Three
        <hr class="accordion__content__text__horizontal-line" />
      </h3>
      <p class="accordion__content__text__body">
        To be successful you’ve got to work hard, to make history, simple,
        you’ve got to make it. Give thanks to the most high. To be successful
        you’ve got to work hard, to make history, simple, you’ve got to make it.
      </p>
      <p class="accordion__content__text__body">
        The key to more success is to get a massage once a week, very important,
        major key, cloth talk. How’s business? Boomin. Hammock talk come soon.
        To be successful you’ve got to work hard, to make history, simple,
        you’ve got to make it. Hammock talk come soon.
      </p>
    </div>
  </div>
  <input
    class="accordion__radio"
    type="radio"
    name="accordion-tabs"
    id="tab-four"
  />
  <label class="accordion__label" for="tab-four"
    >Tab 4
    <span class="accordion-tab--status"></span>
  </label>
  <div class="accordion__content">
    <div class="accordion__content__image__container">
      <img
        class="accordion__content__image"
        src={art}
        alt="placeholder alt text"
      />
    </div>
    <div class="accordion__content__text">
      <h3 class="accordion__content__text__title">
        Content Four
        <hr class="accordion__content__text__horizontal-line" />
      </h3>
      <p class="accordion__content__text__body">
        To be successful you’ve got to work hard, to make history, simple,
        you’ve got to make it. Give thanks to the most high. To be successful
        you’ve got to work hard, to make history, simple, you’ve got to make it.
      </p>
      <p class="accordion__content__text__body">
        The key to more success is to get a massage once a week, very important,
        major key, cloth talk. How’s business? Boomin. Hammock talk come soon.
        To be successful you’ve got to work hard, to make history, simple,
        you’ve got to make it. Hammock talk come soon.
      </p>
    </div>
  </div>
</div>
