---
---

<article class="ootb-tabcordion">
  <div class="ootb-tabcordion--tabs" role="tablist" aria-label="TabCordion">
    <button
      class="tab is-active"
      role="tab"
      aria-selected="true"
      aria-controls="tab1-tab"
      id="tab1">Tab 1</button
    >
    <button
      class="tab"
      role="tab"
      aria-selected="false"
      aria-controls="tab2-tab"
      id="tab2"
      tabindex="-1">Tab 2</button
    >
    <button
      class="tab"
      role="tab"
      aria-selected="false"
      aria-controls="tab3-tab"
      id="tab3"
      tabindex="-1">Tab 3</button
    >
  </div>
  <section
    id="tab1-tab"
    class="ootb-tabcordion--entry is-active"
    data-title="Tab 1"
    tabindex="0"
    role="tabpanel"
    aria-labelledby="tab1"
  >
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">
        <p>
          A simple solution for having tabbed content on a large screen but turn
          it into accordion on a smaller one when the time is right. Just resize
          your screen to see the tabbed interface transforming into an
          accordion.
        </p>
        <p>
          In order to keep the HTML as clean as possible, without duplicating
          elements, we use element attributes as CSS content to display the
          accordion tabs. <a
            class="more"
            href="https://www.gsarigiannidis.gr/tabs-on-desktop-accordion-on-mobile/"
            target="_blank">Read more</a
          >
        </p>
      </div>
    </div>
  </section>
  <section
    id="tab2-tab"
    class="ootb-tabcordion--entry"
    data-title="Tab 2"
    tabindex="-1"
    role="tabpanel"
    aria-labelledby="tab2"
  >
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">
        <p>
          Tab 2 content. Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat
          ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
          posuere a, pede. Nullam malesuada erat ut turpis. Suspendisse urna
          nibh, viverra non, semper suscipit, posuere a, pede.
        </p>
      </div>
    </div>
  </section>
  <section
    id="tab3-tab"
    class="ootb-tabcordion--entry"
    data-title="Tab 3"
    tabindex="-1"
    role="tabpanel"
    aria-labelledby="tab3"
  >
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">
        <p>
          Tab 3 content. Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat
          ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
          posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat
          ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
          posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat
          ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
          posuere a, pede.
        </p>
      </div>
    </div>
  </section>
</article>
