---
---

<div data-tab-component>
  <div role="tablist" aria-label="Tabbed content">
    <button
      role="tab"
      aria-selected="true"
      aria-controls="tab1-content"
      id="tab1"
    >
      Tab One
    </button>

    <button
      role="tab"
      aria-selected="false"
      aria-controls="tab2-content"
      id="tab2"
    >
      Tab Two
    </button>

    <button
      role="tab"
      aria-selected="false"
      aria-controls="tab3-content"
      id="tab3"
    >
      Tab Three
    </button>

    <button
      role="tab"
      aria-selected="false"
      aria-controls="tab4-content"
      id="tab4"
    >
      Tab Four
    </button>
  </div>

  <section
    id="tab1-content"
    role="tabpanel"
    aria-labelledby="tab1"
    tabindex="0"
  >
    <h3>Content One</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas
      adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui.
      Quasi temporibus eos commodi aliquid impedit amet, similique nulla. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius
      ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi
      aliquid impedit amet, similique nulla. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Autem quas adipisci a accusantium eius ut voluptatibus
      ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit
      amet, similique nulla. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit.
    </p>
  </section>

  <section
    id="tab2-content"
    role="tabpanel"
    aria-labelledby="tab2"
    tabindex="0"
    aria-hidden="true"
  >
    <h3>Content Two</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas
      adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui.
      Quasi temporibus eos commodi aliquid impedit amet, similique nulla. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius
      ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi
      aliquid impedit amet, similique nulla. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
    </p>
  </section>

  <section
    id="tab3-content"
    role="tabpanel"
    aria-labelledby="tab3"
    tabindex="0"
    aria-hidden="true"
  >
    <h3>Content Three</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas
      adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui.
      Quasi temporibus eos commodi aliquid impedit amet, similique nulla. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius
      ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi
      aliquid impedit amet, similique nulla. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
    </p>
  </section>

  <section
    id="tab4-content"
    role="tabpanel"
    aria-labelledby="tab4"
    tabindex="0"
    aria-hidden="true"
  >
    <h3>Content Four</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas
      adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui.
      Quasi temporibus eos commodi aliquid impedit amet, similique nulla. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius
      ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi
      aliquid impedit amet, similique nulla. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Autem quas adipisci a accusantium eius ut voluptatibus
      ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit
      amet, similique nulla. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit.
    </p>
  </section>
</div>
