---
import data from "../../data/card.js";
---

<section class="section--pad">
  <div class="container">
    <!-- Card Type 6 -->
    <div class="row mb-60">
        {
        data.slice(0, 3).map((input, index) => {
        return (
        <div class="col-sm-4">
            <div class="card card--6" style=`background-image: url("${input.img}");`>
                <div class="card__content">
                    <h3>{input.title}</h3>
                    <ul>
                        <li><a href="">Lorem 1</a></li>
                        <li><a href="">Lorem 2</a></li>
                        <li><a href="">Lorem 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        );
        })
        }
    </div>
    <!--  -->
  </div>
</section>
