---
import dashboardimg from "../../images/projectdashboard.png";
---

<section class="section--pad">
  <div class="container">
    <!-- Card Type 9 -->
    <div class="row mb-60">
      <div class="col-sm-12">
        <div class="card card--9">
          <div class="card__content">
            <h4 class="txt-primary">Category</h4>
            <h2 class="txt-primary">Lorem ipsum dolor</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              aperiam quo consequatur labore cum aliquam vero ducimus corporis
              officiis consectetur!
            </p>
            <a href="#" class="readmore readmore--arrow">Read More</a>
          </div>
          <div class="card__imgsec">
            <img src={dashboardimg} alt="" />
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</section>
