---
import Layout from "../layouts/Layout.astro";
import Content1 from "../components/content-types/Content--1.astro";
import Content2 from "../components/content-types/Content--2.astro";
import Content3 from "../components/content-types/Content--3.astro";
import Content4 from "../components/content-types/Content--4.astro";
import Content5 from "../components/content-types/Content--5.astro";
---

<Layout title="Text & Img - UI">
  <main>
    <Content1 />
    <Content2 />
    <Content3 />
    <Content4 />
    <Content5 />
  </main>
</Layout>
