---
import Layout from "../layouts/Layout.astro";
import Footerone from "../components/Footer/Footerone.astro";
import Footertwo from "../components/Footer/Footertwo.astro";
import Footerthree from "../components/Footer/Footerthree.astro";
import Footerfour from "../components/Footer/Footerfour.astro";
import Footerfive from "../components/Footer/Footerfive.astro";
import Footersix from "../components/Footer/Footersix.astro";
---

<Layout title="Footer">
  <main>
    <Footerone />
    <Footertwo />
    <Footerthree />
    <Footerfour />
    <Footerfive />
    <Footersix />
  </main>
</Layout>
