---
// import Banner from "../components/Banner.astro";
// import HeaderTypetwo from "../components/Header/HeaderTypetwo.astro";
// import Layout from "../layouts/Layout.astro";
---

<!-- <Layout title="header">
  <HeaderTypetwo />
  <main>
    <Banner />
  </main>
</Layout> -->
