---
// import Banner from "../components/Banner.astro";
// import HeaderTypeOne from "../components/Header/HeaderTypeOne.astro";
// import Layout from "../layouts/Layout.astro";
---

<!-- <Layout title="header">
  <HeaderTypeOne />
  <main>
    <Banner />
  </main>
</Layout> -->
