---
import Layout from "../layouts/Layout.astro";
import SliderBanner from "../components/Slider/SliderBanner.astro";
import SliderOne from "../components/Slider/SliderOne.astro";
import SliderTwo from "../components/Slider/SliderTwo.astro";
import SliderThree from "../components/Slider/SliderThree.astro";
import SliderFour from "../components/Slider/SliderFour.astro";
import SliderFive from "../components/Slider/SliderFive.astro";
import SliderSix from "../components/Slider/SliderSix.astro";
import SliderSeven from "../components/Slider/SliderSeven.astro";
import SliderEight from "../components/Slider/SliderEight.astro";
---

<Layout title="Slider Components">
  <main>
    <div class="margin"><SliderBanner /></div>
    <div class="margin"><SliderOne /></div>
    <div class="margin"><SliderTwo /></div>
    <div class="margin"><SliderSix /></div>

    <!-- <div class="margin "><SliderThree /></div> -->
    <div class="margin"><SliderFour /></div>
    <div class="margin"><SliderSeven /></div>
    <div class="margin"><SliderEight /></div>
    <!-- <div class="margin"><SliderFive /></div> -->
  </main>
</Layout>
