---
import Layout from "../layouts/Layout.astro";
import TabOne from "../components/Tabs/TabOne.astro";
import TabTwo from "../components/Tabs/TabTwo.astro";
import TabThree from "../components/Tabs/TabThree.astro";
import TabFour from "../components/Tabs/TabFour.astro";
---

<Layout title="Tab Components">
  <main>
    <div class="margin"><TabOne /></div>
    <div class="margin container"><TabTwo /></div>
    <div class="margin container"><TabFour /></div>
    <div class="margin"><TabThree /></div>
  </main>
</Layout>
