---
import purpleBg from "../../images/bgimg-1.jpg";
---
<!-- Newsletter 2 Column -->
<section class="section--mar section--pad bg-dark">
    <div class="container">
        <div class="newsletter newsletter--col2">
            <div class="text-left">
                <h2>Join our community by using our services and grow your business.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, aliquam!</p>
            </div>
            <div class="text-right">
                <a href="" class="button primary hoverable">Explore Now</a>
            </div>
        </div>
    </div>
</section>
<!--  -->
<!-- Newsletter 1 column -->
<section class="section--mar section--pad bg-dark">
    <div class="container">
        <div class="newsletter">
            <div class="text-center">
                <h2>Join our community by using our services and grow your business.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, aliquam!</p>
                <a href="" class="button primary hoverable">Explore Now</a>
            </div>
        </div>
    </div>
</section>
<!--  -->
<!-- Single Column section with background -->
<section class="section--mar section--pad bgimg" style=`background-image: url(${purpleBg});`>
    <div class="container">
        <div class="col">
            <div class="col__content text-center">
                <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
                <p class="txt-white">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                    exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                    asperiores adipisci error quos?
                </p>
                <a href="" class="button primary hoverable">Explore Now</a>
            </div>
        </div>
    </div>
</section>
<!--  -->