---
import cardImg1 from "../../images/projectdashboard.png";
---

<!-- 2 Column -->
<section class="section--mar">
    <div class="container">
        <div class="col col2">
            <div class="col__img">
                <img src={cardImg1} alt="" />
            </div>
            <div class="col__content">
                <h5 class="section__highlight">Lorem ipsum</h5>
                <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                    exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                    asperiores adipisci error quos?
                </p>
                <ul class="list">
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li>Optio doloremque quos voluptatem nisi cupiditate laudantium quidem!</li>
                    <li>Ea illum recusandae, autem accusamus eius eum sunt.</li>
                    <li>Expedita temporibus ipsa similique qui asperiores aut saepe!</li>
                    <li>Praesentium nam harum quis fugiat consequatur in perferendis.</li>
                    <li>Nemo fugit vitae nostrum iusto voluptatibus repellat harum.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--  -->
<!-- 2 Column reverse -->
<section class="section--mar">
    <div class="container">
        <div class="col col2 col2__reverse">
            <div class="col__content">
                <h5 class="section__highlight">Lorem ipsum</h5>
                <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                    exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                    asperiores adipisci error quos?
                </p>
                <div class="accordion accordion--1">
                    <div class="accordion__item">
                        <h3 class="accordion__item--title">
                            Lorem ipsum dolor sit, amet ?
                        </h3>
                        <p class="accordion__item--content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                            exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                        </p>
                    </div>
                    <div class="accordion__item">
                        <h3 class="accordion__item--title">
                            Lorem ipsum dolor sit, amet ?
                        </h3>
                        <p class="accordion__item--content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                            exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                        </p>
                    </div>
                    <div class="accordion__item">
                        <h3 class="accordion__item--title">
                            Lorem ipsum dolor sit, amet ?
                        </h3>
                        <p class="accordion__item--content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                            exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                        </p>
                    </div>
                </div>
            </div>
            <div class="col__img">
                <img src={cardImg1} alt="" />
            </div>
        </div>
    </div>
</section>
<!--  -->