---
import cardImg1 from "../../images/projectdashboard.png";
---
<!-- Single Column reverse -->
<section class="section--mar section--pad bg-lwhite">
    <div class="container">
        <div class="col">
            <div class="col__content">
                <h5 class="section__highlight">Lorem ipsum</h5>
                <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquid natus odit commodi, fugit
                    maxime! Blanditiis, debitis porro natus similique exercitationem iste alias at accusantium.
                    Blanditiis tempore labore et, sint explicabo voluptas sequi laboriosam ipsa illum perspiciatis,
                    dicta ex minus aspernatur maiores quidem provident enim minima eaque! Provident, expedita error.
                </p>
                <ul class="list">
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li>Optio doloremque quos voluptatem nisi cupiditate laudantium quidem!</li>
                    <li>Ea illum recusandae, autem accusamus eius eum sunt.</li>
                    <li>Expedita temporibus ipsa similique qui asperiores aut saepe!</li>
                    <li>Praesentium nam harum quis fugiat consequatur in perferendis.</li>
                    <li>Nemo fugit vitae nostrum iusto voluptatibus repellat harum.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, commodi alias. Eaque recusandae
                    sapiente animi vel natus quae quaerat excepturi perspiciatis ex cum consectetur, eum facere iusto,
                    ipsum voluptatibus sed officiis iure consequatur voluptate nostrum voluptatem mollitia quos. Odit
                    sed ut dolorem sunt vero excepturi accusamus ducimus, ab earum rerum unde vitae nesciunt assumenda
                    sint, minima cupiditate dolorum natus debitis ea voluptatem qui? Aut soluta ab impedit ex voluptates
                    est, et necessitatibus officia rerum, dolores autem ducimus expedita animi eos aliquid? Suscipit
                    explicabo ullam obcaecati sapiente, aut quaerat doloribus a corrupti debitis facere rem magnam,
                    totam pariatur. Alias, dignissimos a.</p>
                <div class="accordion accordion--1">
                    <div class="accordion__item">
                        <h3 class="accordion__item--title">
                            Lorem ipsum dolor sit, amet ?
                        </h3>
                        <p class="accordion__item--content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                            exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                        </p>
                    </div>
                    <div class="accordion__item">
                        <h3 class="accordion__item--title">
                            Lorem ipsum dolor sit, amet ?
                        </h3>
                        <p class="accordion__item--content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                            exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                        </p>
                    </div>
                    <div class="accordion__item">
                        <h3 class="accordion__item--title">
                            Lorem ipsum dolor sit, amet ?
                        </h3>
                        <p class="accordion__item--content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                            exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                        </p>
                    </div>
                </div>
            </div>
            <div class="col__content text-center">
                <img src={cardImg1} alt="" />
            </div>
        </div>
    </div>
</section>
<!--  -->