---

import purpleBg from "../../images/purple-bg.jpg";
import cardImg2 from "../../images/card2.jpg";
import bannerimg from "../../images/hero-banner-2.jpg";
---

<!-- 2 Column section with background -->
<section class="section--mar section--pad bgimg" style=`background-image: url(${purpleBg});`>
    <div class="container">
        <div class="col col2">
            <div class="col__content">
                <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
                <p class="txt-white">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                    exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                    asperiores adipisci error quos?
                </p>
                <div class="btn__wrap">
                    <a href="" class="button primary hoverable">Explore Now</a>
                    <a href="" class="button primary hoverable">Contact Us</a>
                </div>
            </div>
            <div class="col__img">
                <img src={cardImg2} alt="" />
            </div>
        </div>
    </div>
</section>
<!--  -->
<!-- 2 Column section with background -->
<section class="section--mar section--pad bgimg" style=`background-image: url(${purpleBg});`>
    <div class="container">
        <div class="col col2">
            <div class="col__img">
                <div class="curveanim">
                    <img src={bannerimg} alt="" />
                </div>
                </div>
            <div class="col__content">
                <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
                <p class="txt-white">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                    exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                    asperiores adipisci error quos?
                </p>
                <div class="btn__wrap">
                    <a href="" class="button primary hoverable">Explore Now</a>
                    <a href="" class="button primary hoverable">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->