---
import logo from "../../images/logo.png";
---


<div class="searchComponent search-overlay">
    <div class="container">
      <img
        class="logo overlay-logo"
        src={logo}
        alt="Logo"
        title="Logo"
      />
      <div class="hamburger">
        <input type="checkbox" checked readonly /><span> </span><span></span>
      </div>
      <div class="search-box">
        <input id="pages" placeholder="Search" tabindex="-1" />
        <input type="hidden" id="pages-id" />
        <!-- <div class="suggestions">
          <p>Keywords:</p>
          <ul class="flex">
            <li><strong>Programs</strong></li>
            <li><strong>Youth Action Plan</strong></li>
            <li><strong>Partners</strong></li>
          </ul>
        </div> -->
        <div class="scroll-box">
          <a href="javascript:;" class="upclick"></a>
          <a href="javascript:;" class="downclick"></a>
        </div>
      </div>
    </div>
  </div>