---
import logo from "../../images/placeholderlogo.jpg";
---

<section class="footertwo">
    <div class="container">
        <div class="row">
            <div class="footertwo__logo">
                <img src={logo} alt="logo" class="logo" />
            </div>
            <div class="row footertwo__col2section">
                <div class="footertwo__col2section--left">
                    <div class="footertwo__col2section--leftwrapper">
                        <div class="footertwo__col2">
                            <ul>
                                <li><a href="javascript:void(0)">link1</a></li>
                                <li><a href="javascript:void(0)">link2</a></li>
                                <li><a href="javascript:void(0)">link3</a></li>
                            </ul>

                            <ul>
                                <li><a href="javascript:void(0)">link1</a></li>
                                <li><a href="javascript:void(0)">link2</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="footertwo__horlist">
                        <li>Privacy Policy</li>
                        <li>Sitemap</li>
                    </ul>
                </div>
                <div class="footertwo__col2section--right">
                    <h5>Let's keep the conversation flowing</h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                    </p>
                    <div class="footertwo__tools">
                        <form class="round">
                            <input
                                type="email"
                                name="email"
                                value=""
                                size="60"
                                maxlength="254"
                                placeholder="Email address.."
                            />
                            <button
                                class="g-recaptcha"
                                class="button"
                                type="button">Subscribe</button
                            >
                        </form>
                    </div>
                    <div class="footertwo__socialicons">
                        <ul>
                            <li>Share us</li>
                            <li>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="27.546"
                                    height="27.546"
                                    viewBox="0 0 47.546 47.546"
                                >
                                    <path
                                        id="_7693312_facebook_social_media_logo_apps_icon"
                                        data-name="7693312_facebook_social media_logo_apps_icon"
                                        d="M23.773,0A23.773,23.773,0,1,0,47.546,23.773,23.773,23.773,0,0,0,23.773,0ZM30.05,14.248a11.971,11.971,0,0,0-3.391.162c-1.584.585-1.622,1.953-1.622,3.258v2.665H29.88l-.708,5.1H25.037V38.012h-5.47V25.43H15.02v-5.1h4.548V16.01a6.18,6.18,0,0,1,5.624-6.435,19.3,19.3,0,0,1,4.858.4Z"
                                        fill="#ffffff"></path>
                                </svg>
                            </li>
                            <li>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="27.546"
                                    height="27.546"
                                    viewBox="0 0 47.546 47.546"
                                >
                                    <path
                                        id="_7693327_twitter_social_media_logo_apps_icon"
                                        data-name="7693327_twitter_social media_logo_apps_icon"
                                        d="M23.773,0A23.773,23.773,0,1,0,47.546,23.773,23.773,23.773,0,0,0,23.773,0ZM34.166,18.447c.028,1.773-.207,10.637-8.62,14.478a15,15,0,0,1-14.774-.945,11.09,11.09,0,0,0,7.793-2.216,5.523,5.523,0,0,1-4.92-3.708,4.56,4.56,0,0,0,2.3-.143A5.463,5.463,0,0,1,11.8,20.634a3.935,3.935,0,0,0,2.275.591c-3.94-2.837-1.529-7.062-1.529-7.062a15.933,15.933,0,0,0,11.071,5.619,6.224,6.224,0,0,1-.139-1.334A5.377,5.377,0,0,1,28.8,13.129a5.957,5.957,0,0,1,3.818,1.655,8.4,8.4,0,0,0,3.457-1.212,5.276,5.276,0,0,1-2.2,2.955,11.882,11.882,0,0,0,2.9-.827A11.02,11.02,0,0,1,34.166,18.447Z"
                                        fill="#ffffff"></path>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footertwobottom">
    <div class="container">
        <diva class="text-center">
            <img src={logo} alt="logo" width="auto" />
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <p class="link">POWERED BY  <a href="" target="_blank">rage communication</a></p>
        </diva>
    </div>
</section>