---
import payment from "../../images/payment.png";
---

<footer class="footerfive">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer">
                    <div class="col-lg-6 col-12">
                        <div class="footer__firstcol">
                            <h3>Heading</h3>
                            <p class="content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="footer__seccol">
                            <h3>Category1</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Link1</a></li>
                                <li><a href="javascript:void(0)">Link2</a></li>
                                <li><a href="javascript:void(0)">Link3</a></li>
                                <li><a href="javascript:void(0)">Link4</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="footer__thirdcol">
                            <h3>Category2</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Link1</a></li>
                                <li><a href="javascript:void(0)">Link2</a></li>
                                <li><a href="javascript:void(0)">Link3</a></li>
                                <li><a href="javascript:void(0)">Link4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <p class="footer__copyright">
                    © rage communication.. 2023 All rights reserved.
                </p>
            </div>
            <div class="col-lg-6 col-12">
                <div class="footer__fourthcol">
                    <ul class="socialmedia">
                        <li>
                            <a href="javascript:void(0);"
                                ><img
                                    src="../../img/facebook.png"
                                    title=""
                                    alt=""
                                /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"
                                ><img
                                    src="../../img/facebook.png"
                                    title=""
                                    alt=""
                                /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"
                                ><img
                                    src="../../img/facebook.png"
                                    title=""
                                    alt=""
                                /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"
                                ><img
                                    src="../../img/facebook.png"
                                    title=""
                                    alt=""
                                /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
