---
import map from "../../images/map.gif";
---

<footer class="footerfour">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footerfour">
                    <div class="col-lg-6 col-12">
                        <div class="footerfour__firstcol">
                            <h3>
                                On the roads of 125 countries
                            </h3>
                            <img
                                src={map}
                                alt="map"
                                title="map"
                            />
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="footerfour__seccol">
                            <h3>Category1</h3>
                            <ul>
                                <li><a href="javascript:void(0)" class="arrow">Link1</a></li>
                                <li><a href="javascript:void(0)" class="arrow">Link2</a></li>
                                <li><a href="javascript:void(0)" class="arrow">Link3</a></li>
                                <li><a href="javascript:void(0)" class="arrow">Link4</a></li>
                                <li><a href="javascript:void(0)" class="arrow">Link5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="footerfour__thirdcol">
                            <h3>Category1</h3>
                            <div class="accordions">
                                <div class="tab">
                                    <input
                                        type="checkbox"
                                        class="accordioninput"
                                        id="rd1"
                                        name="rd"
                                    />
                                    <label class="tab-label" for="rd1"
                                        >Category1</label
                                    >
                                    <div class="tab-content">
                                        <div class="list">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="arrow">Link1</a></li>
                                                <li><a href="javascript:void(0)" class="arrow">Link2</a></li>
                                                <li><a href="javascript:void(0)" class="arrow">Link3</a></li>
                                                <li><a href="javascript:void(0)" class="arrow">Link4</a></li>
                                                <li><a href="javascript:void(0)" class="arrow">Link5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab">
                                    <input
                                        type="checkbox"
                                        class="accordioninput"
                                        id="rd2"
                                        name="rd"
                                    />
                                    <label class="tab-label" for="rd2"
                                        >Category1</label
                                    >
                                    <div class="tab-content">
                                        <div class="list">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="arrow">Link1</a></li>
                                                <li><a href="javascript:void(0)" class="arrow">Link2</a></li>
                                                <li><a href="javascript:void(0)" class="arrow">Link3</a></li>
                                                <li><a href="javascript:void(0)" class="arrow">Link4</a></li>
                                                <li><a href="javascript:void(0)" class="arrow">Link5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
