---
import Layout from "../../layouts/Layout.astro";
import Herobanner1 from "../../components/Banner/herobanner--1.astro";
import Herobanner2 from "../../components/Banner/herobanner--2.astro";
import Herobanner3 from "../../components/Banner/herobanner--3.astro";
import Herobanner4 from "../../components/Banner/herobanner--4.astro";
---

<Layout title="InnerBanner - UI">
  <main>
    <Herobanner1 />
    <Herobanner2 />
    <Herobanner3 />
    <Herobanner4 />
  </main>
</Layout>
