---
import Layout from "../../layouts/Layout.astro";
import Bannersm1 from "../../components/Banner/banner--sm1.astro";
---

<Layout title="InnerBanner - UI">
  <main>
    <Bannersm1 />
  </main>
</Layout>
