.table-responsive {
    display: block;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid $gray-100;
      text-align: center;
      padding: 5px;
    }
  }