---
import Layout from "../../layouts/Layout.astro";
import Card1 from "../../components/Cards/Card--1.astro";
import Card2 from "../../components/Cards/Card--2.astro";
import Card3 from "../../components/Cards/Card--3.astro";
import Card4 from "../../components/Cards/Card--4.astro";
import Card5 from "../../components/Cards/Card--5.astro";
import Card6 from "../../components/Cards/Card--6.astro";
import Card7 from "../../components/Cards/Card--7.astro";
import Card8 from "../../components/Cards/Card--8.astro";
import Card9 from "../../components/Cards/Card--9.astro";
import Card10 from "../../components/Cards/Card--10.astro";
---

<Layout title="Cards - UI">
  <main>
    <Card1 />
    <Card2 />
    <Card3 />
    <Card4 />
    <Card5 />
    <Card6 />
    <Card7 />
    <Card8 />
    <Card9 />
    <Card10 />
  </main>
</Layout>
