---
import ragelogo from '../images/logo.png';
---

<!--===========================================
	Header 
===============================================-->

<header class="header">
	<div class="container">
		<!-- UI COMP -->
	</div>
</header>

<!--  -->