---
import bannerimg1 from "../../images/hero-banner-2.jpg";
import bannerimg2 from "../../images/image-two.jpg";
---

<!-- Banner type 1 -->
<section class="bannersm bannersm--1 mb-100 bg-pink">
  <div class="container">
    <div class="bannersm__wrap">
      <div class="bannersm__content">
        <h1>Lorem ipsum dolor sit amet.</h1>
      </div>
      <div class="bannersm__img">
        <img src={bannerimg1} alt="" />
      </div>
    </div>
  </div>
</section>
<!--  -->
<!-- Banner type 1 -->
<section class="bannersm bannersm--1 mb-100 bg-primary">
    <div class="container">
      <div class="bannersm__wrap">
        <div class="bannersm__content">
          <h1>Lorem ipsum dolor sit amet.</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
            exercitationem repellat cum itaque dolore ratione!
          </p>
          <div class="btn__wrap">
            <a href="" class="button tertiary hoverable">Explore Now</a>
            <a href="" class="button tertiary hoverable">Contact Us</a>
          </div>
        </div>
        <div class="bannersm__img">
          <img src={bannerimg1} alt="" />
        </div>
      </div>
    </div>
  </section>
  <!--  -->
<!-- Banner type 2 -->
<section
  class="bannersm bannersm--2 mb-100"
  style=`background-image: url(${bannerimg2});`
>
  <div class="container">
    <div class="bannersm__content">
      <h1>Lorem ipsum dolor sit amet.</h1>
    </div>
  </div>
</section>
<!--  -->
