---
import bannerimg from "../../images/bgimg-2.jpg";
import bannerimg1 from "../../images/blog-3.jpg";

---

<!-- Herobanner with bg img -->
<section class="herobanner herobanner--3 section--mar" style=`background-image: url(${bannerimg});`>
  <div class="container">
    <div class="herobanner__wrap">
      <div class="herobanner__img">
        <img src={bannerimg1} alt="Banner" />
      </div>
      <div class="herobanner__content">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
          consequuntur perferendis dignissimos commodi ea facere! Lorem, ipsum
          dolor sit amet consectetur adipisicing elit. Vel consequuntur
          perferendis dignissimos commodi ea facere!
        </p>
        <a href="" class="button primary hoverable">Buy Now</a>
      </div>
    </div>
  </div>
</section>
<!--  -->
