---
import bannerimg from "../../images/image-two.jpg";
---
<!-- Herobanner with bg img -->
<section class="herobanner herobanner--1" style=`background-image: url(${bannerimg});`>
  <div class="container">
    <div class="herobanner__content">
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
        consequuntur perferendis dignissimos commodi ea facere! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
        consequuntur perferendis dignissimos commodi ea facere!
      </p>
      <a href="" class="button primary hoverable">Buy Now</a>
    </div>
  </div>
</section>
<!--  -->