---
import data from "../../data/data.json";
import image from "../../images/image-one.jpg";
---

<div class="swiper-container sliderOneBG">
  <div class="mySwiper">
    <div class="main-wrapper swiper-wrapper sliderOne">
      <div class="main swiper-slide main-wrapper__slide--1">
        <div class="left-side">
          <div class="main-wrapper">
            <h3 class="main-header">UI Design</h3>
            <h1 class="main-title">UI Design</h1>
          </div>
          <div class="main-content">
            <div class="main-content__title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="main-content__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button class="more-menu">Discover</button>
          </div>
        </div>
      </div>
      <div class="main swiper-slide main-wrapper__slide--2">
        <div class="left-side">
          <div class="main-wrapper">
            <h3 class="main-header">Ux Design</h3>
            <h1 class="main-title">Ux Design</h1>
          </div>
          <div class="main-content">
            <div class="main-content__title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="main-content__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button class="more-menu">Discover</button>
          </div>
        </div>
      </div>
      <div class="main swiper-slide main-wrapper__slide--3">
        <div class="left-side">
          <div class="main-wrapper">
            <h3 class="main-header">Front-End Design</h3>
            <h1 class="main-title">Front-End Design</h1>
          </div>
          <div class="main-content">
            <div class="main-content__title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="main-content__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button class="more-menu">Discover</button>
          </div>
        </div>
      </div>
      <div class="main swiper-slide main-wrapper__slide--4">
        <div class="left-side">
          <div class="main-wrapper">
            <h3 class="main-header">Devops Developer</h3>
            <h1 class="main-title">Devops Developer</h1>
          </div>
          <div class="main-content">
            <div class="main-content__title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="main-content__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button class="more-menu">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <div class="swiper-button swiper-prev-button">
      <svg
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </div>
    <div class="swiper-button swiper-next-button">
      <svg
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </div>
  </div>
  <div class="swiper-pagination-one"></div>
</div>
