---
import data from "../../data/data.json";
---

<div class="">
  <div class="swiper-container mySwiperSeven">
    <div class="swiper-wrapper mySwiperSeven__wrapper">
      <div class="swiper-slide mySwiperSeven__wrapper--slide-1">
        <h3 class="mb-22">UI Design</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="swiper-slide mySwiperSeven__wrapper--slide-2">
        <h3 class="mb-22">UX Design</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="swiper-slide mySwiperSeven__wrapper--slide-3">
        <h3 class="mb-22">Front-End Design</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="swiper-slide mySwiperSeven__wrapper--slide-4">
        <h3 class="mb-22">Devops</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="swiper-slide mySwiperSeven__wrapper--slide-5">
        <h3 class="mb-22">Wordpress</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="swiper-slide mySwiperSeven__wrapper--slide-6">
        <h3 class="mb-22">Drupal</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="swiper-slide mySwiperSeven__wrapper--slide-7">
        <h3 class="mb-22">UI Design</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="swiper-slide mySwiperSeven__wrapper--slide-8">
        <h3 class="mb-22">UI Design</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="swiper-slide mySwiperSeven__wrapper--slide-9">
        <h3 class="mb-22">UI Design</h3>
        <h4 class="mb-22">Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="mySwiperSeven__wrapper--button-section">
          <button class="mySwiperSeven__wrapper--button">Discover</button>
        </div>
        <div class="overlay"></div>
      </div>
    </div>
    <div class="buttonFour">
      <div class="swiper-button-prev buttonFour--prev"></div>
      <div class="swiper-button-next buttonFour--next"></div>
    </div>
  </div>
</div>
