---
---

<div class="swiper-container">
  <div class="mySwiperSix">
    <div class="swiperSix-wrapper swiper-wrapper sliderSix">
      <div class="main swiper-slide swiperSix-wrapper__slide--1">
        <div class="center-side">
          <div class="main-wrapper">
            <h3 class="main-header">UI Design</h3>
            <h1 class="main-title">UI Design</h1>
          </div>
          <div class="main-content">
            <div class="main-content__title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="main-content__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button class="more-menu">Discover</button>
          </div>
        </div>
      </div>
      <div class="main swiper-slide swiperSix-wrapper__slide--2">
        <div class="center-side">
          <div class="main-wrapper">
            <h3 class="main-header">Ux Design</h3>
            <h1 class="main-title">Ux Design</h1>
          </div>
          <div class="main-content">
            <div class="main-content__title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="main-content__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button class="more-menu">Discover</button>
          </div>
        </div>
      </div>
      <div class="main swiper-slide swiperSix-wrapper__slide--3">
        <div class="center-side">
          <div class="main-wrapper">
            <h3 class="main-header">Front-End Design</h3>
            <h1 class="main-title">Front-End Design</h1>
          </div>
          <div class="main-content">
            <div class="main-content__title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="main-content__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <button class="more-menu">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-wrapper-six">
    <div class="swiper-button swiper-prev-button-six">
      <svg
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </div>
    <div class="swiper-button swiper-next-button-six">
      <svg
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </div>
  </div>
  <div class="swiper-pagination-six"></div>
</div>
