---
import burger from "../../images/burgger-images.png";
---

<div class="banner-container">
  <div class="banner-flex">
    <div class="banner-flex__flex--1">
      <h3>Lorem ipsum dolor sit ame</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.
      </p>
      <button>Discover</button>
    </div>
    <div class="banner-flex__flex--2">
      <img src={burger} alt="burger" />
    </div>
  </div>
</div>
